@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="body-padding container-fluid pr-0 pl-0">
    <div class="container-fluid">
        Postmaster
    </div>
    <div class="container">
        Text
    </div>
    <div class="container">
        Text
    </div>
    <div class="container">
        Text
    </div>
    <div class="container">
        Text
    </div>
    <div class="container">
        Text
    </div>
    <div class="container">
        Text
    </div>
    <div class="container">
        Text
    </div>
    <div class="container">
        Text
    </div>
    <div class="container">
        Text
    </div>
    <div class="container">
        Text
    </div>
    <div class="container">
        Text
    </div>
    <div class="container">
        Text
    </div>
    <div class="container">
        Text
    </div>
    <div class="container">
        Text
    </div>
    <div class="container">
        Text
    </div>
    <div class="container">
        Text
    </div>
    <div class="container">
        Text
    </div>
    <div class="container">
        Text
    </div>
    <div class="container">
        Text
    </div>
    <div class="container">
        Text
    </div>
    <div class="container">
        Text
    </div>
    <div class="container">
        Text
    </div>
    <div class="container">
        Text
    </div>
    <div class="container">
        Text
    </div>
    <div class="container">
        Text
    </div>
    <div class="container">
        Text
    </div>
    <div class="container">
        Text
    </div>
    <div class="container">
        Text
    </div>
    <div class="container">
        Text
    </div>
    <div class="container">
        Text
    </div>
    <div class="container">
        Text
    </div>
    <div class="container">
        Text
    </div>
    <div class="container">
        Text
    </div>
    <div class="container">
        Text
    </div>
    <div class="container">
        Text
    </div>
    <div class="container">
        Text
    </div>
    <div class="container">
        Text
    </div>
    <div class="container">
        Text
    </div>
    <div class="container">
        Text
    </div>
    <div class="container">
        Text
    </div>
    <div class="container">
        Text
    </div>
    <div class="container">
        Text
    </div>
    <div class="container">
        Text
    </div>
    <div class="container">
        Text
    </div>
    <div class="container">
        Text
    </div>
    <div class="container">
        Text
    </div>
    <div class="container">
        Text
    </div>
    <div class="container">
        Text
    </div>
    <div class="container">
        Text
    </div>
    <div class="container">
        Text
    </div>
    <div class="container">
        Text
    </div>
</div>